<footer>
    <p>&copy; 2024 <a href='https://jordankasper.com'>Jordan Kasper</a> unless noted otherwise.</p>
    <p><a href='/' title='Go to the app home page'>home</a> | <a href='/rules' title='View the game rules'>rules</a></p>
</footer>
