<header>
        
    <nav>
        <h1>{{#if title}}{{title}}{{else}}P52 RPG{{/if}}</h1>
        <ul>
            <li><a href='/' class='nav-home' data-tooltip='Go to the homepage' data-placement='left' title='Go to the homepage'>
                <img src='/images/home-icon.svg' alt='A simple house'>
            </a></li>
            <li><a href='/rules' class='nav-rules' data-tooltip='View the rules' data-placement='left' title='View the rules'>
                <img src='/images/book-icon.svg' alt='An open book'>
            </a></li>
            <li><a href='/character' class='nav-character-sheet' data-tooltip='View your character sheet' data-placement='left' title='View your character sheet'>
                <img src='/images/character-icon.svg' alt='A simple human avatar'>
            </a></li>
            <li><a href='/quest' class='nav-quest' data-tooltip='View your active quest' data-placement='left' title='View your active quest'>
                <img src='/images/swords-icon.svg' alt='Two crossed swords'>
            </a></li>
        </ul>
    </nav>

    <aside id='messages'></aside>
</header>