<header>
        
    <nav>
        <h1>{{#if title}}{{title}}{{else}}P52{{/if}}</h1>
        <ul>
            <li><a href='/rules' class='nav-rules' data-tooltip='View the rules' data-placement='left' title='View the rules'>🕮</a></li>
            <li><a href='/character' class='nav-character-sheet' data-tooltip='View your character sheet' data-placement='left' title='View your character sheet'>🂾</a></li>
            <li><a href='/quest' class='nav-quest' data-tooltip='View your active quest' data-placement='left' title='View your active quest'>⚔</a></li>
        </ul>
    </nav>

    <aside id='messages'></aside>
</header>