<header>
    <h1>
        <a href='/' title='Back to the home page'>{{#if title}}{{title}}{{else}}P52{{/if}}</a>
    </h1>
    <nav>
        <ul>
            <li><a href='/character' title='View your character sheet'>Character</a></li>
            <li><a href='/quest' title='View your active quest'>Quest</a></li>
        </ul>
    </nav>

    <aside id='messages'></aside>
</header>