<header>
    <h1>
        <a href='/' title='Back to the home page'>{{#if title}}{{title}}{{else}}P52{{/if}}</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/load-scenario">Load Scenario</a></li>
            <li><a href="/create-character">Create Character</a></li>
        </ul>
    </nav>

    <aside id='messages'></aside>
</header>