<ul>
    <li><a href='/' title='Go to the homepage'>
        <img src='/images/home-icon.svg' title='Home' alt='A simple house'>
    </a></li>
    <li><a href='/rules' title='View the rules'>
        <img src='/images/book-icon.svg' title='Rules' alt='An open book'>
    </a></li>
    <li><a href='/character' title='View your character sheet'>
        <img src='/images/character-icon.svg' title='Character Sheet' alt='A simple human avatar'>
    </a></li>
    <li><a href='/quest' title='View your active quest'>
        <img src='/images/swords-icon.svg' title='Active Quest' alt='Two crossed swords'>
    </a></li>
</ul>