<dialog class='nav-menu-modal'>
    <article>
        <header>
            <button aria-label='Close' rel='prev' class='close-modal' data-modal='nav-menu-modal'></button>
        </header>
        <nav>
            <ul>
                <li><a href='/' title='Go to the homepage'>
                    <img src='/images/home-icon.svg' alt='A simple house'> Home
                </a></li>
                <li><a href='/rules' title='View the rules'>
                    <img src='/images/book-icon.svg' alt='An open book'> Rules
                </a></li>
                <li><a href='/character' title='View your character sheet'>
                    <img src='/images/character-icon.svg' alt='A simple human avatar'> Character Sheet
                </a></li>
                <li><a href='/quest' title='View your active quest'>
                    <img src='/images/swords-icon.svg' alt='Two crossed swords'> Quest
                </a></li>
            </ul>
        </nav>
    </article>
</dialog>