<ul>
    <li><a href='/rules' title='View the rules'>
        <img src='/images/book-icon.svg' title='Rules' alt='An open book'>
    </a></li>
    <li><a href='/character' title='View your character sheet'>
        <img src='/images/character-icon.svg' title='Character Sheet' alt='A simple human avatar'>
    </a></li>
    <li><a href='/quest' title='View your active quest'>
        <img src='/images/swords-icon.svg' title='Active Quest' alt='Two crossed swords'>
    </a></li>
    <li><a href='/space' title='View your current quest space details'>
        <img src='/images/checklist-icon.svg' title='Space Details' alt='A checklist'>
    </a></li>
</ul>