<header>
    
    <nav>
        <h1>{{#if title}}{{title}}{{else}}P52 RPG Rules{{/if}}</h1>
        <img class='nav-menu-trigger show-modal' data-modal='nav-menu-modal' src='/images/menu-icon.svg' alt='Three horizontal lines representing the nav menu' data-tooltip='Open navigation' data-placement='left'>
    </nav>

    <aside class='rules-search'></aside>

    <aside id='messages'></aside>
</header>

{{> nav}}
