<header>
    
    <nav>
        <h1>{{#if title}}{{title}}{{else}}P52 RPG Rules{{/if}}</h1>
        {{> nav}}
    </nav>

    <aside class='rules-search'></aside>

    <aside id='messages'></aside>
</header>
