
/* Basic page elemenets */
footer { color: #666; }


#page-home .no-character, #page-home .scenario-and-character {
    display: none;
}


#page-create-character .current-character { display: none; }
#page-create-character .choose-race .modifiers, #page-create-character .choose-class .modifiers {
    display: none;
}
#page-create-character .page-section {
    display: none;
}
#page-create-character .character-race-class {
    display: block;
}
#page-create-character .core-bonus {
    width: 3em;
}


.calc-source {
    font-weight: normal;
    vertical-align: super;
    font-size: 0.9em;
}
