
/* Some common vars */
:root {
    --info-background-color: #D1E5FB;
    --warn-background-color: #FDF1B4;
    --error-background-color: #F9B4BE;
}

/* Basic page elemenets */
body>header, body>main {
    padding: 0 0.3rem;
}
body>header {
    padding-top: 0
}
body>header h1 a {
    text-decoration: none;
}
body>header nav {
    overflow: hidden;
}
body>header nav li {
    --pico-nav-element-spacing-vertical: 0.2rem;
    --pico-nav-element-spacing-horizontal: 0.5rem;
}
body>header nav li {
    font-size: 1.7rem;
}
#messages {
    padding: 0 1rem;
}
.msg {
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #666;
    opacity: 1;
}
.msg.complete {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.msg-info {
    background-color: var(--info-background-color);
}
.msg-warn {
    background-color: var(--warn-background-color);
}
.msg-error {
    background-color: var(--error-background-color);
}
footer {
    border-top: 1px solid #666;
    background-color: #eee;
    color: #666;
}


/* General style elements */
.hide {
    display: none;
}
h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}
hgroup.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table td {
    text-align: center;
}
.fine {
    font-size: 0.8em;
    color: #888;
}
.inline-button {
    padding: 0.2rem 0.7rem;
}
.calc-source {
    font-weight: normal;
    vertical-align: super;
    font-size: 0.9rem;
    top: 0
}
main details summary h3, main details summary h4 {
    display: inline;
}
main details summary::after {
    background: none;
    content: "▼";
    color: #888;
    overflow: hidden;
    margin-right: 0.5rem;
}
.card-flips {
    display: flex;
    justify-content: space-around;
}
input.card-flip {
    width: 6rem;
}
input.card-flip.stamina {
    width: 7.5rem;
}
[role=group] {
    align-items: center;
}
[role=group] label {
    margin-right: 1rem;
    font-size: 1.1rem;
}
[role=group]>button:not(:last-child) {
    border-right: 1px solid #000;
    margin-right: 1px;
}
body [data-tooltip]:not(a,button,input) {
    border-bottom: none;
}
select option.disabled {
    color: #999;
}


/* Page-specific */

#page-home .no-character, #page-home .scenario-and-character {
    display: none;
}


#page-create-character .current-character { display: none; }
#page-create-character .choose-race .modifiers, #page-create-character .choose-class .modifiers {
    display: none;
}
#page-create-character .page-section {
    display: none;
}
#page-create-character .character-race-class {
    display: block;
}
#page-create-character .core-bonus {
    width: 3rem;
}


#page-character-sheet .edit-section {
    font-size: 1.3rem;
    padding-right: 0.5rem;
}
#page-character-sheet .player-basic-updates label {
    width: 100%;
    text-align: right;
}
#page-character-sheet .player-basic-updates input {
    width: 5rem;
    margin-right: 25%;
}
#page-character-sheet .basic-stats th {
    text-align: center;
}
#page-character-sheet .char-hp-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#page-character-sheet .hp-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}
#page-character-sheet .abilities, #page-character-sheet .items {
    padding-top: 1rem;
    border-top: 1px solid #666;
}
#page-character-sheet .character-metadata {
    border-top: 1px solid #666;
}
#page-character-sheet .add-item-icon {
    margin-right: 0.5rem;
}
.ability-item-add-on {
    display: inline;
    font-weight: normal;
    font-size: 1.1rem;
}
#page-character-sheet .character-metadata {
    padding: 0.5rem;
}
#page-character-sheet .character-metadata p {
    margin: 0;
    color: #888;
}
#page-character-sheet .core-value-updates td {
    padding: 0.5rem 0;
}
#page-character-sheet .core-value-updates input {
    text-align: center;
    max-width: 4rem;
}
#page-character-sheet .item-actions {
    position: relative;
    top: -0.5rem;
}
#page-character-sheet .open-chest {
    font-size: 1.8rem;
    vertical-align: bottom;
    color: #8B4F00
}
#page-character-sheet .chest-method {
    display: none;
}
#page-character-sheet .determine-item, #page-character-sheet .attack-params {
    display: none;
}
#page-character-sheet .determine-item select {
    width: auto;
}
#page-character-sheet .determine-item .actions p {
    border: 1px solid #666;
    padding: 0.75rem;
    font-weight: bold;
}
#page-character-sheet .auto-add {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}
#page-character-sheet .open-chest-modal .actions {
    text-align: right;
}
#page-character-sheet #lock-picks-used {
    width: 6rem;
}
#page-character-sheet .lock-pick-note {
    text-align: center;
}

